__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/

venv/
.venv/
env/

.env

# Verilator build output
obj_dir/
*.vcd
*.fst


# OpenROAD-flow-scripts outputs
chip/syn/work/

*.gds

*.swp

chip/syn/.gcd_test/
